*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    
        margin:0;
        padding: 0;
        /* box-sizing: border-box; */
        text-decoration: none;
        border: none;
        outline: none;
        /* scroll-behavior: smooth; */
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
   
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:  #4F6F52;
    
}
.navbar{

    /* margin-top: 10px; */
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
a{
    
    color: white;
    /* margin-left: 10px; */
    justify-content: center;
    margin-left: 2rem;
    text-decoration: none;
}

.navbar a{
    font-size: 1rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: #3A4D39;
    border-bottom: 3px solid  #3A4D39;
}
.container{
    margin-top: 1rem;
    display: flex;
    max-width: 1200px;
    margin: 1rem auto;
    
    
}
img{
    width: 100%;
    height: 100%;
}
h1{
    margin-bottom: 10px;
}
p{
    margin-top: 1cqi;
    margin-bottom: 1rem;
}
.leftClass{
    width: 50%;
    padding: 1rem;
    margin-top: 150px;
    
}
.rightClass{
    width: 50%;
    padding: 1rem;
    margin-top: 150px;
}
button{
    margin-top: 10px;
    background: rgb(124, 47, 118);
    color: white;
   padding: 5px 10px;
}
