*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    
        margin:0;
        padding: 0;
        /* box-sizing: border-box; */
        text-decoration: none;
        border: none;
        outline: none;
        /* scroll-behavior: smooth; */
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
   
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:  #4F6F52;
    
}
.navbar{

    /* margin-top: 10px; */
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
a{
    
    color: white;
    /* margin-left: 10px; */
    justify-content: center;
    margin-left: 2rem;
    text-decoration: none;
}

.navbar a{
    font-size: 1rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: #3A4D39;
    border-bottom: 3px solid  #3A4D39;
}
body{
    margin-top: 0;
}
button{
    color: white;
    background-color: #a79266;
    box-shadow: #2e4d31;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: #2e4d31;
    color: white;
}

h1{
    text-align: center;
    
}
p{
    text-align: justify;
}
img{
    width: 200px;
    height: 200px;
}
#sectionOne{
    display: flex;
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 20%; 
    
}
.sectOneInfo p{
    /* background-color: #4F6F52; */
    color: #3A4D39;
    padding: 10%;
    border-radius: 10px;
}
.sectOneInfo button{
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    margin-left: 42%;    
}
.sectOneInfo h1{
    margin-bottom: 2.5rem;
}
.profile{
    width: 500px;
}
.profile img{
    margin-top: 1rem;
    width: 300px;
}
.title{
    text-align: center;
}
.container{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
}
#sectionTwo{
    justify-content: center;
    margin-left: 10%;
}
.box{
    width: 350px;
    height: 500px;
    margin-left: 5%;
    background-color: #7b967e;
    padding: 30px;
    border-radius: 10px;
}
.box button{
    margin-left: 95px;
    width: 100px;
    height: 30px;
    margin-top: 1rem;
}
.box p{
    color: white;
}
.box img{
    margin-left: 50px;

}