*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    
        margin:0;
        padding: 0;
        /* box-sizing: border-box; */
        text-decoration: none;
        border: none;
        outline: none;
        /* scroll-behavior: smooth; */
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
   
}
body{
    background-image: url("/Act2/images/bg.jpg");
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color:  #4F6F52;
    
}
.navbar{

    /* margin-top: 10px; */
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
a{
    
    color: white;
    /* margin-left: 10px; */
    justify-content: center;
    margin-left: 2rem;
    text-decoration: none;
}

.navbar a{
    font-size: 1rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: #3A4D39;
    border-bottom: 3px solid  #3A4D39;
}
body{
    background-image: url("/Act2/images/bg.jpg");
}
button{
    color: white;
    background-color:#2e4d31 ;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color:#a79266 ;
    color: white;
}

h1{
    text-align: center;
    
}
p{
    text-align: justify;
}
img{
    width: 200px;
    height: 200px;
}
#sectionOne{
    display: flex;
    width: 50%;
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 20%; 
    
}
.sectOneInfo p{
    /* background-color: #4F6F52; */
    color: #3A4D39;
    padding: 10%;
    border-radius: 10px;
}
.sectOneInfo button{
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    margin-left: 42%;    
}
.sectOneInfo h1{
    margin-bottom: 0.2rem;
    font-size: 5rem;
    background-image: url('/Act2/images/leaf.jpg');
    background-clip:text;
    -webkit-background-clip:text;
    color: transparent;
    filter: saturate(0.6);
    
}
.profile{
    width: 500px;
}
.profile img{
    align-self: flex-end;
    height: 300px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    margin-top: 1rem;
    width: 400px;
}
.profile img:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}
.title{
    text-align: center;
    margin-bottom: 2rem;
    color: #4F6F52;
    font-size: 3rem;
}
.desc{
    color: #2e4d31;
    opacity: 0.8;
    text-align: center;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
}

.container{
    display: flex;
    justify-content: center;
}

 #sectionTwo{
    justify-content: center;
} 
.box{
    width: 300px;
    height: 400px;
    margin-left: 40px;
    background-color: #7b967e;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px #2e4d31; */
    /* opacity: 0.8; */
    border: solid rgb(72, 110, 75) 2px;
    transition: all .2s ease-in-out;
    filter: blur(4px);
    overflow: hidden;
}

.box:hover{
    transform: scale(1.2);
    filter: blur(0);
}


.box button{
    /* margin-left: 95px; */
    width: 100px;
    height: 30px;
    /* margin-top: 1rem; */
    margin: 30px ;
    margin-left: 70px;
}

.box span{
    text-align: center;
    justify-content: center;
    width: 50%;
    /* margin-top: 1.5rem; */
    color: white;
}

.box img{
    border-radius: 10px;
    margin-left: 23px;
    margin-bottom: 1rem;
   
} 
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4F6F52;
    color: white;
    text-align: center;
  }